* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.min-w-4r {
  min-width: 4rem;
}

.max-w-21r {
  max-width: 21rem;
}

.min-h-4r {
  min-height: 4rem;
}

.m-inline {
  margin-inline: auto;
}

.max-w-14r {
  max-width: 14rem;
}

.text-sign {
  color: rgb(255 0 255);
}

.text-sign:hover {
  color: rgb(255 0 255);
  box-shadow: 0rem 0rem 1rem rgb(255 0 255);
}

.max-w-22r {
  max-width: 22rem;
}

.fs-7r {
  font-size: 7rem;
}

.center-element {
  position: absolute;
  inset: 0;
  margin: auto;
}

.max-h-fit {
  max-height: fit-content;
}